/* Shadow-piercing CSS may not be needed here. Included anyway for consistency. */
* >>> .bar {
  fill: steelblue;
}

* >>> .axis text {
  font: 10px sans-serif;
}

* >>> .axis path,
* >>> .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

* >>> .x.axis path {
  display: none;
}