<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">

        <ul class="nav nav-tabs" id="graphTabs">
          <li class="active">
            <a href="#line-graph" data-toggle="tab" aria-expanded="true">Line Graph</a>
          </li>
          <li class="">
            <a href="#barchart" data-toggle="tab" aria-expanded="false">Barchart</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="line-graph">
            <line-graph></line-graph>
          </div>
          <div class="tab-pane active" id="barchart">
            <barchart></barchart>
          </div>
        </div>

    </div>
  </div>
</div>
