<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">

        <tabset>
          <tab heading="Line Graph">
            <line-graph [performance]="performance"
                        [title]="'Optimal Allocations Chart'"></line-graph>
          </tab>
          <tab heading="Barchart">
            <barchart [optimalAllocs]="optimalAllocs"
                      [title]="'Optimal Allocations Chart'"></barchart>
          </tab>
        </tabset>

      </div>
    </div>
  </div>
</div>
