<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">

        <tabset>
          <div *ngIf="performance && cumulativeReturns != undefined">
            <tab heading="Line Graph">
              <line-graph [performance]="performance"
                          [cumulativeReturns]="cumulativeReturns">
              </line-graph>
            </tab>
          </div>
          <div *ngIf="optimalAllocs != undefined">
            <tab heading="Barchart">
              <barchart [optimalAllocs]="optimalAllocs"></barchart>
            </tab>
          </div>
        </tabset>

      </div>
    </div>
  </div>
</div>
