<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Stocks</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="optimizeForm" (ngSubmit)="onSubmit(optimizeForm.value)">
          <!-- {{diagnostic}} -->
          <div class="form-group">
            <label for="symbols">Ticker symbols</label>
            <input type="text" class="form-control" [formControl]="optimizeForm.controls['symbols']">
            <div [hidden]="optimizeForm.controls['symbols'].valid || optimizeForm.controls['symbols'].pristine" class="alert alert-danger">Enter at least two ticker symbols.</div>
          </div>

          <div class="form-group">
            <label for="startDate">Start date</label>
            <input type="text" class="form-control" [formControl]="optimizeForm.controls['startDate']">
            <div [hidden]="optimizeForm.controls['startDate'].valid || optimizeForm.controls['startDate'].pristine" class="alert alert-danger">Enter a date in form mm/dd/yyyy.</div>
          </div>

          <div class="form-group">
            <label for="endDate">End date</label>
            <input type="text" class="form-control" [formControl]="optimizeForm.controls['endDate']">
            <div [hidden]="optimizeForm.controls['endDate'].valid || optimizeForm.controls['endDate'].pristine" class="alert alert-danger">Enter a date in form mm/dd/yyyy.</div>
          </div>

          <div class="form-group">
            <label for="initialInvestment">Initial investment</label>
            <input type="text" class="form-control" [formControl]="optimizeForm.controls['initialInvestment']">
            <div [hidden]="optimizeForm.controls['initialInvestment'].valid || optimizeForm.controls['initialInvestment'].pristine" class="alert alert-danger">Enter an initial investment in dollars.</div>
          </div>

          <button type="submit" [disabled]="!optimizeForm.valid" class="btn btn-primary">Optimize</button>
          <img *ngIf="loading > 0" src="loading.gif" alt="Loading..." class="loading">
        </form>
        </div>
      </div>
    </div>
  </div>
