<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-logo">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      </button>
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.svg"
             alt="Stocks Optimizer"
             width="300px" />
      </a>
    </div>
    <div class="navbar-status">
      {{navbarStatus}}
    </div>
  </nav>
</div>

<div class="container" style="margin-top: 100px;">
  <router-outlet></router-outlet>
</div>
