<div class="row">
  <div class="col-md-4">
    <user-input (submitData)="submitData($event)" [loading]="loading"></user-input>
  </div>
  <div *ngIf="optimalAllocs && cumulativeReturns && performance != undefined"
       class="col-md-8">
    <charts [optimalAllocs]="optimalAllocs"
            [cumulativeReturns]="cumulativeReturns"
            [performance]="performance">
    </charts>
  </div>
</div>
<div class="row">
  <div *ngIf="optimalAllocs && initialInvestment != undefined"
       class="col-md-12">
    <results-table [optimalAllocs]="optimalAllocs"
                   [initialInvestment]="initialInvestment">
    </results-table>
  </div>
</div>
