// colors
$base-color: #6366FF;
$highlight-color: #3D3FB8;
$remove-color: #9013FE;
$light-purple: rgba( $base-color, .2 );

// font sizes
$base-font-size: 16px;
$sharpe-ratio-font-size: 48px;
$section-font-size: 28px;
$small-font-size: 14px;